.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
}

input {
  font-size: 20px;
}

table {
        border-collapse: collapse;
        margin-top: 10px;
}

thead {
  text-align: left;
}

tbody {
    text-align: left;
}

th, td {
    border-bottom:  1px solid grey;
     padding: 15px;
}
tbody tr:hover {
    background-color: #f0f0f0;
}
 span.delete-item{
    visibility: hidden;
    color: red
}

tr:hover span.delete-item{
    visibility: visible;
}

td.Edu-checkin {
    text-align: center;
}
td span.open {
    color: green;
}

td span.close {
    color: red;
}

.error {
  color: red;
}
.success{
    color: green;
}
.Footer a {
    padding-right: 2px;
    padding-left: 2px;
}

.Footer a.active {
    font-weight: bold;
}
